:root {
    --white: #fff;
    --black: #000;
    --grey: #f8f8f8;
    --dark: #282828;
    --blue: #2196f3;
    --fieldBorder: #e5e5e5;
    --active: #ff722b;

    --font: 'Roboto', sans-serif;
}